<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m currently a Software Engineer at
      <a class="underline-link" href="https://www.F5.com/" target="_blank">F5 Networks</a> building infrastructure and developer tools, services at
      the Rapid Development Team. The tools and services being built would help in predictable releases, better quality of shipped products,
      increased efficiency in development, and, making customers and engineers life better. 
      Prior to this, I graduated from <a class="underline-link" href="http://www.washington.edu/" target="_blank">University of Washington</a> with a degree in Computer Science and Data Science.
    </p>

    <p>
      As a software engineer, I enjoy adapting to changes and learning (and unlearning) new technologies, and, pushing boundaries. &mdash; 
      I am always thinking about the bigger picture, by working closely with my customers, engineers, and managers. 
    </p>

    <p>
      My interests and background lies in software design and development, web technologies, infrastructure tools and data science.
      I’m also a proponent of building and shipping high-quality, high-performance, fault-tolerant and scalable products.
    </p>

    <p>
        In the recent past, I have mentored new-hires, college grads, and, high school students in the field of Computer Science and Technology.
        I have also organized multiple Startup Weekends and hackathons in Seattle. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably on a road trip, listening to some great music,
      spending time with family and friends and capturing some great moments along the way.
    </p>
    
    <!-- {% include employment-status.html %} -->
  </div>
</section>
