<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m currently a Software Engineer at
      <a class="underline-link" href="https://www.F5.com/" target="_blank">F5 Networks</a> working on building a Cloud-Native Application Services product.
      I focus on designing and developing backend microservices to perform Traffic Management. Prior to this, I graduated from 
      <a class="underline-link" href="http://www.washington.edu/" target="_blank">University of Washington</a> with a degree in Computer Science and Data Science.
    </p>

    <p>
      My current interests are in the areas of designing and developing large scale Distributed Systems using Microservice Architecture.
      I’m also passionate about the challenges around scalability, reliability, performance, throughput and latency while developing such
      internet scale infrastructure and applications. 
    </p>

    <p>
      I have a strong experience in software design and development, web and cloud based products, engineering tools, and, test driven agile
      development. Being an engineer I enjoy adapting to changes and learning (and unlearning) new technologies, and, pushing boundaries.
      I am always thinking about the bigger picture, by working closely with my customers, engineers, and managers. And, I’m also a proponent
      of building and shipping high-quality, high-performance, fault-tolerant and scalable products.
    </p>

    <p>
        In the recent past, I have mentored new-hires, college grads, and, high school students in the field of Computer Science and Technology.
        Organizer for multiple Startup Weekends in Seattle, a frequent attendee at hackathons, tech summits, and meetups.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably on a road trip, listening to some great music,
      spending time with family and friends and capturing some great moments along the way.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
