<header class="intro">
  <h1 class="intro__hello">Hello!
    <!-- <span class="emoji wave-hand animated"></span> -->
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Sanath Kumar</span>, a software engineer at F5 Networks. 
    <br> <br> I love solving tough, challenging problems.
    I am passionate about building products and services to make customers and engineers life better.
    <!-- <span class="emoji technologist"></span> -->
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:sanath@sanathk.com" target="_blank" class="highlight-link">sanath@sanathk.com</a>
    </span>
  </h3>
</header>
